body{
    background-color: #386d5d!important;
}
.content{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}
.content label{
    float: left;
    color: #0D3349;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.title_profile_form{
    padding-bottom: 20px;
}