.lefttoolbar{
    min-height: 100vh;
    height: 100%;
    background-color: #2b514e;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px 0px;
}
.lefttoolbar ul{
    padding: 0;
}
.lefttoolbar li{
    padding: 5px 0px;
    list-style: none;
    text-align: left;
    padding-left: 13%;
}
.lefttoolbar .name_profile{
    color: #ffffff;
    text-transform: none;
}
.lefttoolbar a{
    color: #4ee194;
    text-decoration: none;
    cursor: pointer;
}
.lefttoolbar a span{
    padding-left: 5px;
}
.lefttoolbar .line{
    text-align: center;
    color: #3d7f6b;
    margin-top: 20px;
    margin-bottom: 10px;
}