.auth_form{
    width: 100%;
    max-width: 355px;
    margin: auto;
    margin-top: 30px;
}
.logo{
    text-align: center;
    color: #fff;
    margin-bottom: 30.9px;
}
.logo_title{
    text-transform: uppercase;
}
.b_form{
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    padding:40px 40px 40px 40px;
    margin-bottom: 2%;
}
.text_login{
    margin-top: 1rem;
    font-size: 12px;
    color: #2b514e;
}
.login_h2{
    color: #2b514e;
    margin-bottom: 30px;
}
.f_form{
    width: 100%;
    border-radius: 10px;
    background-color: #397e68;
    padding: 40px 40px 21px 40px;
    text-align: center;
}

#email, #password{
    border-radius: 10px;
    height: 35px;
}
.btn_login{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 0 0 rgba(18, 45, 77, 0.5);
    background-color: #60be8d;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}
.btn_login:hover{
    background-color: #386d5d;
}
.btn_signup{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 0 0 rgba(18, 45, 77, 0.5);
    background-color: #6095be;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}
.btn_signup:hover{
    background-color: rgb(37, 71, 111);
}
.text_signup{
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #27484a;
    text-align: left;
    margin: 12px;
}
.b_form .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #397e68;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(37, 170, 90, 0.22);
}
@media screen and (max-width: 960px) {
    .f_form{
        display: none;
    }
    .mf_form{
        display: block;
    }
}
