.points{
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    height: 370px;
}
.points button{
    margin-top: 20px;
}
.my_width{
    margin-right: 15px;
}
.geo_form{
    width: 300px;
    margin: 0 auto;
}

.title_geo_form{
    padding-top: 20px;
    padding-bottom: 20px;
}

.mobile_bars{
    display: none;
}

.lat_empty, .lng_empty{
    border: 1px solid red;
}

@media screen and (max-width: 600px) {
    .xs_hidden {
        display: none;
    }
    .my_width{
        margin-left: 15px;
        margin-right: 17px;
    }
    .points{
        height: 370px;
    }
    .mobile_bars{
        display: block;
        font-size: 40px;
        text-align: left;
    }
}